.about{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about_container{
  min-height: 100vh;
}

.contributor_container{
  margin-top: 3rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
  background-color: rgba(118, 177, 118, 0.253);
}

.contributor_persons_wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0.5rem;
}

.email{
  color: blue;
}