.blogs{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.search_blog{
  text-align: right;
}

.search_blog input{
  padding: 0.5rem 1rem;
  width: 30ch;
  outline: none;
  border: 1px solid lightgray;
  border-width: none;
  border-radius: 5px;
}

.search_blog input:focus{
  border: 2px solid blue;
}

.title{
  text-align: left;
  margin: 1.5rem;
}

.posts{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 275px, 1fr ) );
  gap: 1.5rem;
}

@media ( max-width: 720px){
  .blogs{
    padding: 0.5rem;
  }

  .search_blog input{
    width: 100%;
  }
}