@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');

:root{
  --title-clr: #a4e40f;
  --bg-clr: #ffffff;
  --nav-bg-clr: #585252f6;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-clr); 
  width: fit-content;
  width: 100vw;
  min-height: 100vh;
  line-height: 1.8rem;
  font-size: 1.1rem;
  background-image: linear-gradient(to right bottom, rgb(190, 239, 241) 10%, rgb(255, 255, 255) );
}

a {
  color: inherit;
  text-decoration: none;
}

.layout{
  width: 90%;
  padding: 3rem;
  margin: 0 auto;
}

@media (max-width: 720px){

   .layout{
     width: 100%;
     padding: 0.5rem;
   } 
}