:root{
  --title-clr: #d44e18;
  --bg-clr: #ffffff;
  --nav-bg-clr: #585252f6;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-clr); 
  width: auto;
  width: fit-content;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout{
  padding: 3rem;
}

.about{
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 720px){
   .layout{
     width: 100%;
     padding: 0.5rem;
   } 
}