.navbar{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  z-index: 200;
}

.logo{
  width: 100px;
}

.logo p{
  margin: 0;
  font-size: 0.7rem;
}

.humburger{
  display: none;
  margin-left: auto;
}

.humburger:hover{
  cursor: pointer;
}


.menus{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 1rem;
  text-shadow: 0 0 10px;
}

.menus li{
  list-style: none;
  font-size: clamp( 0.7rem, 1.5vw, 1rem)
}

.exit{
  border-bottom: 1px solid red;
  display: none;
}

.exit:hover{
  cursor: pointer;
}

.menus li a:hover{
  color: rgb(148, 148, 224);
  text-decoration: underline;
}



@media ( max-width: 720px) {

  .menus{
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 90%;
    padding: 5rem 2rem 2rem 2rem;
    align-items: center;
    gap: 2rem;
    background-color: var(--nav-bg-clr);
    z-index: 100;
    border-radius: 5px; 
    transition: 250ms ease-in;
    transform: translateX(100%);
    color: white;
    overflow-y: scroll;
  }

  .humburger {
    display: block;
  }

  .humburger > div{
    margin-top: 0.3rem;
    width: 30px;
    height: 3px;
    background-color: gray;
  }

  .show{
    transform: translateX(0%);
  }

  .exit{
    display: block;
  }

}

